*{
  box-sizing: border-box;
}
.container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.first_txt{
  height: 300px;
  width: 300px;
  background-color: cyan;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #00000076;
  padding-top: 50px;
}

.first_txt> p {
  font-size: 20px;
  color: chocolate;
  text-align: center;
}

.two_txt{
  height: 300px;
  width: 300px;
  background-color: chocolate;
  border-radius: 20px;
  box-shadow: 10px 5px 5px #00000076;
  padding-top: 50px;
}

.two_txt> p {
  font-size: 20px;
  color: cyan;
  text-align: center;
}